.sjs-client-app {}

.sjs-client-app__header {}

.sjs-client-app__footer {}

.sjs-button {
  cursor: pointer;
  padding: 0 10px;
  background-color: azure;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.sjs-button:hover {
  background-color: lightblue;
}