.sjs-client-app {
  color: #404040;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sjs-client-app__logo {
  vertical-align: middle;
}

.sjs-client-app__header {
  background-color: var(--primary, #19b394);
  padding: 10px;
  padding-bottom: 0;
}

.sjs-nav-button {
  display: inline-block;
  margin-left: 24px;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  line-height: 40px;
  color: white;
}

.sjs-nav-button:hover,
.sjs-nav-button.active {
  text-decoration: underline;
}

.sjs-client-app__content {
  position: fixed;
  top: 64px;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow: auto;
  user-select: none;
}

.sjs-client-app__content--surveys-list,
.sjs-client-app__content--about {
  max-width: 800px;
  margin: 0 auto;
}

.sjs-client-app__footer {}

.sjs-editor-container {
  height: calc(100% - 88px);
}